.mainPage {
  display: flex;
  justify-content: space-between;
}
.loading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.noNews {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 340px;
}
