.formContainer {
  background-color: white;
  position: relative;
  z-index: 2;
  border-radius: 2px;
  box-shadow: 0 2px 10px darkslategray;
  max-width: 600px;
  margin: 110px auto;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 300px;
  padding: 40px;
}
.label {
  font-size: 20px;
}
.fieldsContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.userInfo {
  border-right: 1px solid lightgrey;
  padding-right: 30px;
}
.authFields {
  margin-left: 30px;
}
.userInfo, .authFields {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}
.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.warning {
  font-size: 14px;
  color: red;
}
.btnContainer {
  width: 50%;
}
.forgotPass {
  margin-top: 20px;
}
.link:hover {
  cursor: pointer;
}
.btn {
  margin-top: 10px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../assets/background.jpg") no-repeat center;
  background-size: cover;
}
